name: Checks

on:
  pull_request:
  push:
    branches: [master]

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          profile: minimal
          components: rustfmt, clippy

      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-make

      - name: Run Checks
        uses: actions-rs/cargo@v1
        with:
          command: make
          args: checks

      - name: Run Tests
        uses: actions-rs/cargo@v1
        with:
          command: make
          args: test
